@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body, html, #app {
    @apply h-full flex flex-col text-base;
}

@layer components {
    /* Card */
    .card {
        @apply bg-white shadow-lg shadow-slate-100;
        .card-header {
            @apply p-4 border-b border-slate-100 text-lg font-medium text-blue-950;
        }
        .card-body {
            @apply p-4;
        }
        .card-footer {
            @apply border-t border-slate-100 p-4 text-sm text-blue-950/50;
        }
    }
    /* Table */
    .responsive-table {
        @apply w-full overflow-x-auto block;
        table {
            @apply min-w-[800px] w-full border-collapse;
        }
    }
    .custom-table {
        @apply whitespace-nowrap;
        thead {
            tr {
                th {
                    @apply text-left text-blue-950 border-b border-slate-100 p-4;
                }
            }
        }
        tbody {
            tr {
                td {
                    @apply text-left p-4 transition-all ease-in-out duration-200 border-b border-slate-100 ;
                }
                &:hover {
                    td {
                        @apply bg-slate-500/1;
                    }
                }
            }
        }
    }
    /* Button */
    .button {
        @apply text-base py-2 px-5 cursor-pointer transition-all ease-in-out duration-300 flex items-center gap-3 justify-center;
    }
    .button-primary {
        @apply bg-blue-950 text-white hover:bg-blue-900;
    }
    .button-secondary {
        @apply bg-green-600 text-white hover:bg-green-700;
    }
    .button-disabled {
        @apply opacity-70 pointer-events-none;
    }
    .button-sidebar {
        @apply p-2 text-white justify-start text-left transition-all ease-in-out duration-300 hover:bg-blue-500/10 cursor-pointer flex items-center gap-2;
    }
    .button-sidebar-active {
        @apply bg-blue-500/10;
    }
    /* Badge */
    .badge {
        @apply px-4 py-2 text-center;
    }
    .badge[data-status="0"] {
        @apply text-blue-950 bg-blue-950/10;
    }
    .badge[data-status="1"] {
        @apply text-white bg-blue-700;
    }
    .badge[data-status="2"] {
        @apply text-white bg-green-600;
    }
    .badge-tiny {
        @apply p-0 text-xs rounded-full text-center flex items-center justify-center bg-red-500 text-white w-[26px] h-[26px];
    }
    /* Form */
    .field {
        @apply w-full resize-none border border-slate-100 focus:border-slate-300 transition-all ease-in-out duration-300 outline-none p-3 mb-3;
    }
    /* Flash */
    .error {
        @apply text-red-700 border-dashed border p-2 border-red-700 mb-3;
    }
    .success {
        @apply text-green-700 border-dashed border p-2 border-green-700 mb-3;
    }
    .error-solid {
        @apply text-red-700 p-2 bg-red-100 mb-3;
    }
    .success-solid {
        @apply text-green-700 p-2 bg-green-100 mb-3;
    }
}

